<body class="text-center">
    <form class="form-signin">
  <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
  <label for="inputUsername" class="sr-only">Username </label>
  <input #nameUser type="username" id="inputUsername" class="form-control" placeholder="Username" required="">
  <label for="inputCorreo" class="sr-only">Correo </label>
  <input #emailUser type="correo" id="inputCorreo" class="form-control" placeholder="Correo" required="">
  <div class="checkbox mb-3"><label for="inputPassword" class="sr-only">Password</label>
  <input #passwordUser type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
  </div>
  <button class="btn btn-lg btn-primary btn-block" type="submit" (click) = "createUser(emailUser.value, nameUser.value, passwordUser.value)">Sign in</button>
</form>
</body>
