.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.background{
  background-color: whitesmoke;
}

.comentario{
  background-color: azure;
  margin-top:  10px;
  margin-right: 10px;
}

.byname{
  margin-top: 10px;
}

#button{
  margin-top: 10px;
}
