<body class = "background">
  <div class= "row">
    <div class="column">
      <div class = "publicaciones" *ngFor = "let item of comentarios">
        <div class = "comentario">
          {{item.commentary}}
        </div>
      </div>
    </div>
    <div class="column">
      <div class = "buscar">
        <div class = "byname">
          Buscar publicaciones de un usuario: <input type= "text" name = "usuario"> <br>
          <button type= "button">
            Buscar
          </button>
        </div>
        <div class = "bytopic">
          Buscar publicaciones de un tema en especifico: <input type= "text" name = "tema"> <br>
          <button type= "button">
            Buscar
          </button>
        </div>
        <div class = "new Comment"> 
          <div class = "tema"> 
           Tema del comentario  <input type = "text" name = "temaEntrar"  value = "#"><br>
            <textarea name="comentarios" rows="10" cols="40"> comentario </textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

